/* .body{
    width: fit-content;
    height: 100pc;
    display: flex;
    border: 3px solid #F5FCFF;
    background: radial-gradient(243.55% 153.69% at 23.48% -1.07%, #EBF3F5 10.46%, #C5E2F0 100%);
    box-shadow: 80px 79px 170px 0px rgba(74, 126, 147, 0.52);
} */